<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/mobile.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/large_format.css">

  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/poole.css"> -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/hyde.css"> -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=PT+Mono&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif+Caption:ital@0;1&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Icons -->
  <link rel="logo1" sizes="144x144" href="{{ site.baseurl }}/assets/logo1.png">
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicon.ico">

  <script src="https://kit.fontawesome.com/c90fdb3395.js" crossorigin="anonymous"></script>

  <!-- JS -->
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/mobileMenu.js"></script>

  <!-- MathJax -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>

  <!-- RSS -->
  <!-- <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml"> -->
</head>
