---
---

@import "{{ site.theme }}";

p {
    font-size: 1em;
    line-height: 2em;
    color: rgb(153, 153, 185);
    font-family: "Open Sans";
}

h1 {
    font-family: "Lato";
    font-weight: 300;
    font-size: 2em;
}

header {
    background-color: rgb(209, 209, 209);
}

footer {
    background-color: rgb(216, 216, 252);
}

body {
    // background-color: rgb(133, 118, 146);
}